@charset "UTF-8";

/* 
Em HTML é ID = em CSS é #
Em HTML é class = em CSS é .
*/

body {
    background-color: rgb(160, 160, 160);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 63, 42)
}

#principal {
    text-align: center;
    background-color: rgba(255, 218, 149, 0.555);
}

h2 {
    color: red;
}

h3 {
    color: rgb(40, 65, 56);
}

.basico {
    color: rgb(102, 155, 255);
}

.intermediario {
    color: yellow;
}

.avancado {
    color: purple;
}

.destaque {
    background-color: rgba(248, 248, 147, 0.76);
}