@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('/assets/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor6: #031f0f;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    margin: 0;
    font-family: var(--fonte-padrao);
}

a.externo:after {
    content: '\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    color: white;
    min-height: 150px;
    text-align: center;
    font-family: var(--fonte-destaque);
    padding-top: 30px;
}

header > h1 {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.329);
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: normal;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.432);
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

nav {
    background-color: var(--cor6);
    padding: 10px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.507);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    transition: .2s all;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor4);
    border-radius: 6px;
    padding: 5px;
    transition: .2s all;
}

main {
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    border-radius: 0px 0px 10px 10px;
}

main img{
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}

main h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 2em;
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    padding: 2px 6px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main strong {
    color: var(--cor4);
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px 6px;
    border-radius: 3px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

.video {
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

section {
    text-align: center
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > ul{
    list-style-position: inside;
    columns: 2;
}

aside h3 {
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside strong{
    color: var(--cor6);
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}



