@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: red;
    background-color: goldenrod;
}

h2 {
    color: red;
    background-color: goldenrod;
}
p {
    text-align: justify;
}