@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#11175C,#430E61,#1E0042);
}

main {
    background-color: white;
    border-radius: 22px;
    box-shadow: 5px 5px 15px #11FF00;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #84B026;
    text-align: center;
    text-shadow: 1px 1px 1px #445a14cc;
}

h2 {
    color: #161F30;
}

p {
    text-align: justify; 
}